@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --color-blue: #3656c9;
  --color-green: #36c95f;
  --color-pink: #c936a0;
  --color-white: #ebecf0;
  --background-color: var(--color-blue);
  --text-color: var(--color-white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation: none !important;
    transition: none !important;
  }

  html {
    scroll-behavior: auto;
  }
}

body {
  background: radial-gradient(farthest-corner at 85% 15%, var(--color-pink), transparent),
              radial-gradient(farthest-corner at 65% 65%, var(--color-green), transparent),
              radial-gradient(at center left, var(--color-blue), var(--color-blue));
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  font-family: 'Nunito', sans-serif;
  flex-direction: column;
  font-size: 1.125rem;
  font-weight: 480;
  line-height: 1.25;
  min-height: 100%;
}

body > * {
  margin: 0 auto;
  max-width: 80rem;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration-thickness: 0.25em;
  text-decoration-color: rgba(235, 236, 240, 0.15);
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration-color: rgba(235, 236, 240, 0.35);
}

h1 {
  font-size: 3em;
  font-weight: 320;
}

h2 {
  font-size: 2em;
  font-weight: 380;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-cards {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  margin: auto;
}

@media screen and (min-width: 60rem) {
  .info-cards {
    grid-auto-flow: column;
  }
}
